





<div class="container-xxl flex-grow-1 container-p-y">
  <div class="card mb-4">
    <div class="card-body">
     
      <p class="card-text">
        <b>Uploud Date:</b> {{this.man.solutioninfo.startdate}}<br>
        
        <b>Document:</b> 
        <a *ngIf="this.man.solutioninfo.documentfilename!=='null'" class="card-link" target="_blank"  [href]="'../../../assets/Documents/'+this.man.solutioninfo.documentfilename">{{this.man.solutioninfo.documentfilename}}</a> <br>
        <br>
        <b>Feedback:</b> <textarea class="form-control"  placeholder="msg" [(ngModel)]="feed"></textarea>
         <br><br><br>
       
      </p>
      <b>States: </b>
      <div [ngSwitch]="this.man.solutioninfo.state" style="display: inline;">
        <div *ngSwitchCase="2" style="display: inline;">
          <span class="badge bg-label-warning me-1 ">Pending</span>
        </div>
        <div *ngSwitchCase="1" style="display: inline;">
          <span class="badge bg-label-success me-1">Accepted</span>
        </div>
        <div *ngSwitchCase="0" style="display: inline;">
          <span class="badge bg-label-danger me-1">Rejected</span>
        </div>
      </div>
      <br>
      <div class="demo-inline-spacing">
        <div *ngIf="this.man.solutioninfo.state ==2">
        <button type="button" class="btn rounded-pill btn-success" mat-dialog-close (click)="AcceptSolution()" >Accept</button>
        <button type="button" class="btn rounded-pill btn-danger" mat-dialog-close (click)="RejectSolution()" >Reject</button>
      </div>
        <button style="position: absolute; top: 0px; right:0px;" mat-button mat-dialog-close  type="button" class="">X</button>
      </div>
    </div>
  </div>
</div>































<!-- 



<div class="container-xxl flex-grow-1 container-p-y">




  <div class="card wow fadeInUp" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
    <br><br><br><br><br><br>
    <div class="table-responsive text-nowrap">


      <table class="table table-hover wow slideInUp"
        style="visibility: visible; animation-delay: 0.3s; animation-name: slideInUp;">
        <thead>
          <tr style="background-color: #696cff66;">
            <th>Uploud Date </th>
            <th>docFileName</th>

            <th>Feedback</th>


            <th>States</th>

            <th></th>

          </tr>
        </thead>
        <tbody class="table-border-bottom-0">






          <tr>
            <td>{{this.man.solutioninfo.uploaddate}}</td>
            <td>{{this.man.solutioninfo.feedbackmessage}}</td>
            <td>{{this.man.solutioninfo.documentfilename}}</td>
            <td>
              <div [ngSwitch]="this.man.solutioninfo.state" style="display: inline;">
                <div *ngSwitchCase="2" style="display: inline;">
                  <span class="badge bg-label-warning me-1 ">Pending</span>
                </div>
                <div *ngSwitchCase="1" style="display: inline;">
                  <span class="badge bg-label-success me-1">Accepted</span>
                </div>
                <div *ngSwitchCase="0" style="display: inline;">
                  <span class="badge bg-label-danger me-1">Rejected</span>
                </div>
              </div>

            </td>

            <td>
              <button type="button" class="btn rounded-pill btn-success" (click)="AcceptSolution()">Accept</button>
              <button type="button" class="btn rounded-pill btn-danger" (click)="RejectSolution()">Reject</button>
            </td>



          </tr>


        </tbody>
      </table>

      <div class="demo-inline-spacing">

        <button style="position: absolute; top: 0px; right:0px;" mat-button mat-dialog-close  type="button" class="">X</button>

      </div>
    </div>
  </div>
</div> -->