<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      
<app-hr-sidebar></app-hr-sidebar>
<div class="layout-page">
       <app-dash-header>
        </app-dash-header>
        
        <ngx-spinner type="ball-scale-multiple"></ngx-spinner>

        <div class="container-xxl flex-grow-1 container-p-y">
         <!-- Basic Bootstrap Table -->
         <div class="card wow fadeInUp"  style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
            <div class="demo-inline-spacing">
            <button style="position: absolute; top: 0px; right:100px;" type="button" class="btn rounded-pill btn-success"  (click)="OpenCreateDialog()">Add new Department</button>                      
                         </div>
            <h5 class="card-header">Department Table </h5>
            <div class="table-responsive text-nowrap">
              <table class="table table-hover wow slideInUp"
              style="visibility: visible; animation-delay: 0.3s; animation-name: slideInUp;">
                <thead>
                  <tr style="background-color: #696cff66;">
                    <th>Department Name</th>
                    <th>Department Manager</th>

                    <th>Action</th>
                    
                  </tr>
                </thead>
                <tbody class="table-border-bottom-0"> 
               <tr *ngFor="let item of this.hrService.allDep">
                <td>
                  {{item.departmentname}}
                </td>
                <td>
                  {{item.fname}} {{item.lname}}

                </td>
                <td>
                    <div class="demo-inline-spacing">
                        <button type="button" class="btn rounded-pill btn-info" (click)="ViewEmp(item.departmentid)">Employee List</button>
                        <button type="button" class="btn rounded-pill btn-secondary"  >Edit/Add Manager</button>
                        <button type="button" class="btn rounded-pill btn-danger" (click)="OpenDeleteDialog(item.departmentid)">Delete</button>                        
                        
                      </div>
                </td>

               </tr>
               </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
    </div>

    <ng-template #DeleteDio>
    <mat-dialog-content>

      <p>Are You Sure to Delete this item</p>
    </mat-dialog-content>

      <mat-dialog-actions >
      <div class="demo-inline-spacing">
      <button mat-button [mat-dialog-close]="true" type="button" (click)="DeleteDep(this.rawDepid)" class="btn rounded-pill btn-success" >Yes</button>
      <button type="button" class="btn rounded-pill btn-danger" mat-button mat-dialog-close>No</button>                      
      
    </div>
</mat-dialog-actions>
    </ng-template>