<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      
<app-hr-sidebar></app-hr-sidebar>
<div class="layout-page">
       <app-dash-header>
        </app-dash-header>

        <div class="container-xxl flex-grow-1 container-p-y">
         <!-- Basic Bootstrap Table -->
         <div class="card wow fadeInUp"  style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
            <div class="demo-inline-spacing">
            <button style="position: absolute; top: 0px; right:100px;" type="button" class="btn rounded-pill btn-success"  [routerLink]="['/Hr/DepartmentCreate']">Add new Department</button>                      
                         </div>
            <h5 class="card-header">Department Table </h5>
            <div class="table-responsive text-nowrap">
              <table class="table table-hover wow slideInUp"
              style="visibility: visible; animation-delay: 0.3s; animation-name: slideInUp;">
                <thead>
                  <tr style="background-color: #696cff66;">
                    <th>Department Name</th>
                    <th>Department Manager</th>

                    <th>Action</th>
                    
                  </tr>
                </thead>
                <tbody class="table-border-bottom-0"> 
               <tr>
                <td>
                    test
                </td>
                <td>
                    test
                </td>
                <td>
                    <div class="demo-inline-spacing">
                        <button type="button" class="btn rounded-pill btn-info" [routerLink]="['/Hr/DepartmentEdit']">Edit</button>
                        <button type="button" class="btn rounded-pill btn-danger" [routerLink]="['/Hr/Department']">Delete</button>                        
                        
                      </div>
                </td>

               </tr>
               </tbody>
              </table>
            </div>
          </div>
        </div>
          <!--/ Basic Bootstrap Table -->
    </div>
    </div>
    </div>