<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

        <app-manager-side-bar></app-manager-side-bar>


        <div class="layout-page">

            <app-dash-header>
            </app-dash-header>



            <div class="content-wrapper">


                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="row">
                        <div class="col-xl">
                            <div class="card mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h5 class="mb-0">ADD leave</h5>
                                </div>
                                <div class="card-body">
                                    <form [formGroup]="leaveform" class="example-form">
                                        <div class=" col-md-10">

                                            <label for="language" class="form-label">Leave Type</label>
                                            <select formControlName="leavetypeid" id="language" class="select2 form-select"
                                                formControlName="leavetypeid">
                                                <option *ngFor="let it of this.hrService.allLeaveTypes"
                                                    [ngValue]="it.leavetypeid">{{it.leavetype}}</option>
                                            </select>
                                            <mat-error
                                                *ngIf="leaveform.controls['leavetypeid'].hasError('required')">
                                                leave type is <strong>required</strong>
                                            </mat-error>
                                        </div>
                                        <div>
                                            <label for="html5-datetime-local-input"
                                                class="col-md-0 col-form-label">Start time</label>
                                            <div class=" col-md-10">
                                                <input class="form-control" type="datetime-local" value=""
                                                    id="html5-datetime-local-input" matInput
                                                    formControlName="startdate" />
                                            </div>
                                            <mat-error
                                                *ngIf="leaveform.controls['startdate'].hasError('required')">
                                                Start time is <strong>required</strong>
                                            </mat-error>
                                        </div>
                                        <div>
                                            <label for="html5-datetime-local-input" class="col-md-0 col-form-label">End
                                                time</label>
                                            <div class=" col-md-10">
                                                <input class="form-control" type="datetime-local" value=""
                                                    id="html5-datetime-local-input" matInput
                                                    formControlName="enddate" />
                                            </div>
                                            <mat-error *ngIf="leaveform.controls['enddate'].hasError('required')">
                                                end time is <strong>required</strong>
                                            </mat-error>
                                        </div>
                                        <div class="mb-3 col-md-20">
                                            <label for="html5-datetime-local-input"
                                                class="col-md-0 col-form-label">Message</label>
                                            <textarea id="basic-default-message" class="form-control" placeholder=""
                                                matInput formControlName="message"></textarea>
                                            <mat-error *ngIf="leaveform.controls['message'].hasError('required')">
                                                message is <strong>required</strong>
                                            </mat-error>
                                        </div>
                                        <div>
                                            <label for="html5-datetime-local-input"
                                                class="col-md-0 col-form-label">Document</label>
                                            <input #file class="form-control" type="file" id="formFile"
                                                (change)="UploadDoc(file) " />
                                            <mat-error
                                                *ngIf="leaveform.controls['documentfilename'].hasError('required')">
                                                Document is <strong>required</strong>
                                            </mat-error>
                                        </div>
                                        <div>
                                            <!-- <input type="file" #file (change)="UploadImage(file)"> -->
                                            <input type="button" class="btn btn-primary"
                                                [disabled]="leaveform.invalid" mat-button value="Create"
                                                (click)="CreateLeave()" onclick="history.back(-1)">
                                        </div>
                                        <div class="demo-inline-spacing">                        
                                            <button style="position: absolute; top: 0px; right:0px;" type="button" onclick="history.back(-1)"
                                              routerLinkActive="active" class="btn rounded-pill btn-info">Back</button>
                                          </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ Basic Bootstrap Table -->
                    <!-- / Content -->
                    <!-- Footer -->
                    <!-- / Footer -->
                    <div class="content-backdrop fade"></div>
                </div>
                <!-- Content wrapper -->
            </div>
        </div>
    </div>
</div>