<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

<app-hr-sidebar></app-hr-sidebar>

<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="layout-page">

       <app-dash-header>
        </app-dash-header>

        <div class="container-xxl flex-grow-1 container-p-y">
         
        <div class="col-12 col-lg-12 order-2 order-md-3 order-lg-2 mb-4">
          <button type="submit" class="btn btn-primary card wow fadeInUp mb-2"   style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;" (click)="AddEmp()">Add new Employee</button>
            <div class="card wow fadeInUp"  style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;" >   
              <div class="row mt-2 "> 
                <div class="col-9">
                </div>
              <div class="col-2 mr-2">
                <input type="number" [(ngModel)]="ssn" placeholder="ssn" (input)="FiliterByssn()" class="form-control" id="defaultFormControlInput"aria-describedby="defaultFormControlHelp">
              </div>
              <div class="col-1">
                </div>
            </div>
             <div class="row"> 
              <div class="col">
              <app-person-card (SendValues)="GetValues($event)" app-person-card [allEmp]="emplist" [allDep]="this.hrService.allDep"></app-person-card> 
              </div>
            </div>  

            </div>
        </div>    

              </div>
            </div>
          </div>
        </div>


      
