 <!-- Navbar -->


 <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
 id="layout-navbar"
>
 <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
   <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
     <i class="bx bx-menu bx-sm"></i>
   </a>
 </div>

 <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
   <!-- Search -->
   <a routerLink="" class="menu-link">
    <i class="menu-icon tf-icons bx bx-home-circle"></i>
    <div data-i18n="Analytics">Home Page</div>
  </a>
   <!-- /Search -->
  
    <div class="col" style="padding-left: 25px;padding-right: 25px;">
      <div class="ticker-wrap">
        <div class="ticker">
        <div *ngIf="this.hrService.OneNews.msg != null " class="ticker__item">{{this.hrService.OneNews.msg}}</div>
        <!-- <div   class="ticker__item">sdvdfxgbdfbcf</div> -->
        </div>
      </div>
    </div>

   <ul class="navbar-nav flex-row align-items-center ms-auto">
     <!-- Place this tag where you want the button to render. -->    
   
     <!-- User -->
     <li class="nav-item navbar-dropdown dropdown-user dropdown">
       <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
         <div [ngClass]="(this.auth.systemUserInfo.state==0)?'avatar avatar-offline':'avatar avatar-online'">
           <img *ngIf="this.auth.systemUserInfo.imagefilename!=null" [src]="'./assets/Documents/'+this.auth.systemUserInfo.imagefilename" alt class="w-px-40 h-auto rounded-circle" style="max-width: 50px; max-height: 50px;"/>
           <img *ngIf="this.auth.systemUserInfo.imagefilename==null" [src]="'./assets/Documents/UserDefaultImage.png'" alt class="w-px-40 h-auto rounded-circle" style="max-width: 50px; max-height: 50px;"/>

         </div>
       </a>
       <ul class="dropdown-menu dropdown-menu-end">
         <li>
           <a class="dropdown-item" href="#">
             <div class="d-flex">
               <div class="flex-shrink-0 me-3">
                 <div [ngClass]="(this.auth.systemUserInfo.state==0)?'avatar avatar-offline':'avatar avatar-online'"  > 
                  <img *ngIf="this.auth.systemUserInfo.imagefilename!=null" [src]="'./assets/Documents/'+this.auth.systemUserInfo.imagefilename" alt class="w-px-40 h-auto rounded-circle" style="max-width: 50px; max-height: 50px;"/>
                  <img *ngIf="this.auth.systemUserInfo.imagefilename==null" [src]="'./assets/Documents/UserDefaultImage.png'" alt class="w-px-40 h-auto rounded-circle" style="max-width: 50px; max-height: 50px;"/>
       
                 </div>
               </div>
               <div class="flex-grow-1">
                 <span class="fw-semibold d-block">{{this.auth.systemUserInfo.fname}} {{this.auth.systemUserInfo.lname}}</span>
                 <small class="text-muted">{{this.auth.systemUserInfo.rolename|uppercase}}</small>
               </div>
             </div>
           </a>
         </li>
         <li>
           <div class="dropdown-divider"></div>
         </li>
         <li>
           <a class="dropdown-item btn" (click)="Profile()">
             <i class="bx bx-user me-2"></i>
             <span class="align-middle">My Profile</span>
           </a>
         </li>    
         <li>
           <div class="dropdown-divider"></div>
         </li>
         <li>
           <a class="dropdown-item btn" (click)="Logout()">
             <i class="bx bx-power-off me-2"></i>
             <span class="align-middle">Log Out</span>
           </a>
         </li>
       </ul>
     </li>
     <!--/ User -->
   </ul>
 </div>
</nav>

  <!-- End Navbar -->
  <style>
    * {
      box-sizing: border-box;
    }

    @-webkit-keyframes ticker {
      0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
      }

      100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
      }
    }

    @keyframes ticker {
      0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
      }

      100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
      }
    }

    .ticker-wrap {
      border-radius: 10px;
      width: auto;
      overflow: hidden;
      height: 3rem;
      background-color: #a7a8f829;
      padding-left: 100%;
      box-sizing: content-box;
    }

    .ticker-wrap .ticker {
      display: inline-block;
      height: 4rem;
      line-height: 3rem;
      white-space: nowrap;
      padding-right: 100%;
      box-sizing: content-box;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-name: ticker;
      animation-name: ticker;
      -webkit-animation-duration: 30s;
      animation-duration: 20s;

    }

    .ticker-wrap .ticker__item {
      display: inline-block;
      padding: 0 2rem;
      font-size: 2rem;
      color: #4c6a84;
    }

    body {
      padding-bottom: 3rem;
    }

    h1,
    h2,
    p {
      padding: 0 5%;
    }
  </style>