
      <div class="card-header d-flex justify-content-between align-items-center">
        <!-- <div class="row mb-10">
          <div class="col-md-6 col-xl-4"> -->
            <div class="card mb-5">
              <div class="card-body">
                 <h2 class="pb-1 mb-4">solution info</h2> 
                <h5 class="card-title">TaskID : {{this.employeeService.onesol.taskid}}</h5>
                <p class="card-text">
                  Feedback : {{this.employeeService.onesol.feedbackmessage}}
                </p>
                <p class="card-text">
                  <small class="text-muted"> Date: {{this.employeeService.onesol.uploaddate}}</small>
                </p>
                  <p class="card-text">
                    <small class="text-muted">Document:</small>
                    <a *ngIf="this.employeeService.onesol.documentfilename" class="card-link" target="_blank" download  [href]="'../../../assets/Documents/'+this.employeeService.onesol.documentfilename">{{this.employeeService.onesol.documentfilename}}</a>
                  </p>
              </div>
            </div>
         </div>
