<!-- <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

        <app-manager-side-bar></app-manager-side-bar>


        <div class="layout-page">

            <app-dash-header>
            </app-dash-header>

            <div class="container-xxl flex-grow-1 container-p-y">
                <h4 class="fw-bold py-3 mb-4">Employees</h4>

                <div class="card">
                    <div class="table-responsive text-nowrap">
                        <table class="table">
                            <thead class="table-dark">
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>SSN</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody class="table-border-bottom-0">
                                <tr *ngFor="let emp of empList">
                                    <td>{{emp.fName}}</td>
                                    <td>{{emp.lName}}</td>
                                    <td>{{emp.email}}</td>
                                    <td>{{emp.ssn}}</td>
                                   
                                    
                                    <td>
                                        <div [ngSwitch]="emp.status">
                                                <div *ngSwitchCase="1">
                                                    <span class="badge bg-label-success me-1">Online</span>
                                                </div>

                                                <div *ngSwitchCase="0">
                                                    <span class="badge bg-label-danger me-1">Offline</span>
                                                </div>
                                        </div>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->





<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

        <app-manager-side-bar></app-manager-side-bar>


        <div class="layout-page">

            <app-dash-header>
            </app-dash-header>

            <div class="container-xxl flex-grow-1 container-p-y">
                <div class="col-12 col-lg-12 order-2 order-md-3 order-lg-2 mb-4">
                   
                    <div class="card">
                        <div class="col-2 mr-2">
                            <input type="number" [(ngModel)]="ssn" placeholder="ssn" (input)="FiliterByssn()" class="form-control" id="defaultFormControlInput"aria-describedby="defaultFormControlHelp">
                          </div>

                        <app-person-card (SendValues)="GetValues($event)" [allEmp]="emplist"></app-person-card>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>