<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

        <app-manager-side-bar></app-manager-side-bar>


        <div class="layout-page">

            <app-dash-header>
            </app-dash-header>

            <div class="container-xxl flex-grow-1 container-p-y">
                <h4 class="fw-bold py-3 mb-4">My Leaves</h4>

                <div class="card">

                    <div class="demo-inline-spacing">
                        <button style="position: absolute; top: 0px; right:100px;" type="button"
                            class="btn rounded-pill btn-success"[routerLink]="['/Manager/CreateLeave']">ADD Leave</button>
                        </div>

                    <div class="table-responsive text-nowrap">

                       
 <br><br><br><br><br>
                        <table class="table table-hover wow slideInUp"
                        style="visibility: visible; animation-delay: 0.3s; animation-name: slideInUp;">
                            <thead >
                                <tr style="background-color: #696cff66;">
                                    
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Status</th>
                                    <th>
                                    </th>

                                </tr>
                            </thead>
                            <tbody class="table-border-bottom-0">
                                <tr *ngFor="let emp of this.managerserv.MyLeaves">
                                    
                                    <td>{{emp.startdate}}</td>
                                    <td>{{emp.enddate}}</td>
        
                                    <td>
                                        <div [ngSwitch]="emp.state">
                                                <div *ngSwitchCase="2">
                                                    <span class="badge bg-label-warning me-1">Pending</span>
                                                </div>

                                                <div *ngSwitchCase="1">
                                                    <span class="badge bg-label-success me-1">Accepted</span>
                                                </div>

                                                <div *ngSwitchCase="0">
                                                    <span class="badge bg-label-danger me-1">Rejected</span>
                                                </div>
                                        </div>
                                    </td>
                                    
                                    <td> <div class="demo-inline-spacing">
                                        <a  (click)="SendSelectorMyLeaveId(emp.leaveid)" class="btn btn-outline-info pr-1">More Info</a>
                                        <a *ngIf="emp.state == 2" (click)="OpenDeleteDialog(emp.leaveid)" class="btn rounded-pill btn-danger " style="color: white;">Delete</a>
                                    </div>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #DeleteDio>
    <mat-dialog-content>

    <p>Are You Sure to Delete this item</p>
    </mat-dialog-content>

      <mat-dialog-actions >
      <div class="demo-inline-spacing">
      <button type="button" (click)="DeleteLeave()" class="btn rounded-pill btn-success"  mat-dialog-close>Yes</button>
      <button type="button" class="btn rounded-pill btn-danger"  mat-dialog-close>No</button>                      
      
    </div>
    </mat-dialog-actions>
    </ng-template>




