<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">

    <app-manager-side-bar></app-manager-side-bar>

    <ngx-spinner type="ball-scale-multiple"></ngx-spinner>
    <div class="layout-page">

      <app-dash-header>
      </app-dash-header>

      <div *ngIf="man.oneDepartment!=null" class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
          <div class="col-12 col-lg-12 order-2 order-md-3 order-lg-2 mb-4">
            <div class="card wow fadeInUp"style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
              <div class="m-1">
              <h2>Department Name : {{ this.man.oneDepartment.departmentname}} </h2>
              <h4>Description: {{ this.man.oneDepartment.descrip}}</h4>
            </div>
              <app-dep-tree [allEmp]="emplist" [manager]="this.mans"></app-dep-tree>
              
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>





