

    <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
      <div class="app-brand demo">
        <a href="index.html" class="app-brand-link">
          <span class="app-brand-logo demo">
            <img src="/assets/Documents/ERPlogo.jpg" style="width: 60px; height: 60px;">
          </span>
          <span style="width: auto; height: auto; color: rgb(28, 26, 158);"><strong>ERP</strong> </span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
          <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
      </div>

      <div class="menu-inner-shadow"></div>

      <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a [routerLink]="['/Manager']"  class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle" ></i>
            <div data-i18n="Analytics">Dashboard</div>
          </a>
        </li>

        <li class="menu-item" routerLinkActive="active">
          <a [routerLink]="['/Manager/AllEmp']" routerLinkActive="active" class="menu-link">
            <i class="menu-icon tf-icons bx bx-layout bx-tada-hover" routerLinkActive="bx-tada"></i>
            <div data-i18n="Analytics">Employees</div>
          </a>
        </li>

        <li class="menu-header small text-uppercase">
          <span class="menu-header-text">Leaves</span>
        </li>

        <li class="menu-item" routerLinkActive="active">
          <a [routerLink]="['/Manager/mAllEmpLeaves']" routerLinkActive="active" class="menu-link">
            <i class="menu-icon tf-icons bx bx-layout bx-tada-hover" routerLinkActive="bx-tada"></i>
            <div data-i18n="Analytics">Employees Leaves</div>
          </a>
        </li>

        <li class="menu-item" routerLinkActive="active">
          <a [routerLink]="['/Manager/MyLeaves']" routerLinkActive="active" class="menu-link">
            <i class="menu-icon tf-icons bx bx-layout bx-tada-hover" routerLinkActive="bx-tada"></i>
            <div data-i18n="Analytics">My Leaves</div>
          </a>
        </li>


        <li class="menu-header small text-uppercase">
          <span class="menu-header-text">Tasks</span>
        </li>

        

        <li class="menu-item" routerLinkActive="active">
          <a [routerLink]="['/Manager/AllTasks']" routerLinkActive="active" class="menu-link">
            <i class="menu-icon tf-icons bx bx-layout bx-tada-hover" routerLinkActive="bx-tada"></i>
            <div data-i18n="Analytics">Tasks</div>
          </a>
        </li>
      

        <li class="menu-header small text-uppercase">
          <span class="menu-header-text">My profile</span>
        </li>

        <li class="menu-item" routerLinkActive="active">
          <a [routerLink]="['/Manager/UpdateProfile']" routerLinkActive="active" class="menu-link">
            <i class="menu-icon tf-icons bx bx-layout bx-tada-hover" routerLinkActive="bx-tada" ></i>
            <div data-i18n="Analytics">Update Profile</div>
          </a>
        </li>

        <li class="menu-item" routerLinkActive="active">
          <a [routerLink]="['/Manager/CheckinCkeckout']" routerLinkActive="active" class="menu-link">
            <i class="menu-icon tf-icons bx bx-layout bx-tada-hover" routerLinkActive="bx-tada"></i>
            <div data-i18n="Analytics">CheckIn - CheckOut</div>
          </a>
        </li>

      </ul>
    </aside>

