<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

        <app-manager-side-bar></app-manager-side-bar>


        <div class="layout-page">

            <app-dash-header>
            </app-dash-header>



            <div class="content-wrapper">


                <div class="container-xxl flex-grow-1 container-p-y">
                    <h3 class="fw-bold py-3 mb-4"> Create Task</h3>

                    <!-- Basic Layout -->
                    <div class="row">
                        <div class="col-xl">
                            <div class="card mb-4">

                                <div class="card-body">
                                    <form>

                                        <div class="mb-3 col-md-6">
                                            <label class="form-label" for="basic-default-fullname">Task Name</label>
                                            <input type="text" class="form-control" id="basic-default-fullname"
                                                placeholder="John Doe" />
                                        </div>

                                        <div class="mb-3 col-md-6">
                                            <label class="form-label" for="basic-default-phone">Upload Task</label>
                                            <input type="file" id="basic-default-phone" class="form-control phone-mask"
                                                placeholder="10001" />
                                        </div>

                                        <div class="mb-3 col-md-6">
                                            <label class="form-label" for="basic-default-phone">Start Date</label>
                                            <input type="datetime-local" id="basic-default-phone"
                                                class="form-control phone-mask" placeholder="10001" />
                                        </div>

                                        <div class="mb-3 col-md-6">
                                            <label class="form-label" for="basic-default-phone">End Date</label>
                                            <input type="datetime-local" id="basic-default-phone"
                                                class="form-control phone-mask" placeholder="10001" />
                                        </div>

                                        <div class="mb-3 col-md-6">
                                            <label class="form-label" for="country">User</label>
                                            <select  id="country" class="select2 form-select">
                                                <option *ngFor="let emp of tas " value={{emp.userid}} >{{emp.name}}</option>
                                            </select>
                                        </div>

                                        <div class="mb-3 col-md-6">
                                            <label class="form-label" for="basic-default-message">Message</label>
                                            <textarea id="basic-default-message" class="form-control"
                                                placeholder="Hi, Do you have a moment to talk Joe?"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-primary" (click)="GetValues($event)"  >Send</button>

                                        <div class="demo-inline-spacing">

                                            <button style="position: absolute; top: 0px; right:0px;" type="button"
                                                [routerLink]="['/Manager']" routerLinkActive="active"
                                                class="btn rounded-pill btn-info">Back</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-backdrop fade"></div>
            </div>
        </div>
    </div>
</div>