<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">

    <app-hr-sidebar></app-hr-sidebar>


    <div class="layout-page">

      <app-dash-header>
      </app-dash-header>

      <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
          <div class="row">
            <div class="col-md-12">
              <div class="card mb-4">
                <h5 class="card-header">Profile Details</h5>

                <!-- Account -->
                <div class="card-body">
                  <div class="d-flex align-items-start align-items-sm-center gap-4">
                    <img *ngIf="this.empInfoForm.value.imagefilename==null" name="img" _ngcontent-fnq-c20=""
                      src="/assets/Documents/UserDefaultImage.png" alt="" class="img-fluid w-100"
                      style="max-height: 350px; max-width: 350px;">
                    <img *ngIf="this.empInfoForm.value.imagefilename!=null" name="img" _ngcontent-fnq-c20=""
                      [src]="'/assets/Documents/'+this.empInfoForm.value.imagefilename" alt="" class="img-fluid w-100"
                      style="max-height: 350px; max-width: 350px;">
                    <div class="button-wrapper">
                      <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                        <span class="d-none d-sm-block">Upload new photo</span>
                        <i class="bx bx-upload d-block d-sm-none"></i>
                        <input type="file" #file id="upload" class="account-file-input" hidden=""
                          (change)="UploadPhoto(file)" accept="image/png, image/jpeg">
                      </label>
                      <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>

                    </div>
                  </div>
                </div>
                <hr class="my-0">
                <div class="card-body">
                  <form [formGroup]="empInfoForm" id="formAccountSettings">
                    <div class="row">
                      <div class="mb-3 col-md-6">
                        <label for="firstName" class="form-label">First Name</label>
                        <input matInput formControlName="fname" class="form-control" type="text">
                        <mat-error *ngIf="empInfoForm.controls['fname'].hasError('required')">Please enter a First
                          Name</mat-error>
                      </div>

                      <div class="mb-3 col-md-6">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input matInput class="form-control" type="text" name="lastName" id="lastName"
                          formControlName="lname">
                        <mat-error *ngIf="empInfoForm.controls['lname'].hasError('required')">Please enter a Last
                          Name</mat-error>
                      </div>

                      <div class="mb-3 col-md-6">
                        <label for="email" class="form-label">E-mail</label>
                        <input matInput class="form-control" type="text" id="email" name="email" formControlName="email"
                          placeholder="john.doe@example.com">
                        <mat-error *ngIf="empInfoForm.controls['email'].hasError('required')">Please enter an
                          Email</mat-error>
                        <mat-error *ngIf="empInfoForm.controls['email'].hasError('pattern')">Invalid Email
                          format</mat-error>
                      </div>

                      <div class="mb-3 col-md-6">
                        <label class="form-label" for="phoneNumber">Phone Number</label>
                        <div class="input-group input-group-merge">
                          <span class="input-group-text">Jod (+962)</span>
                          <input matInput type="number" id="phoneNumber" name="phoneNumber"
                            formControlName="phonenumber" class="form-control" length="9" placeholder="788253988">
                        </div>
                      </div>

                      <div class="mb-3 col-md-6">
                        <label for="address" class="form-label">Address</label>
                        <input matInput type="text" class="form-control" id="address" formControlName="address"
                          name="address" placeholder="Address">
                      </div>

                      <div class="mb-3 col-md-6">
                        <label for="state" class="form-label">Salary</label>
                        <input matInput class="form-control" type="number" id="state" name="state"
                          formControlName="salary" placeholder="California">
                      </div>

                      <div class="mb-3 col-md-6">
                        <label class="form-label">SNN number</label>
                        <input matInput type="number" class="form-control" formControlName="ssn" placeholder="231465"
                          maxlength="6">
                        <mat-error *ngIf="empInfoForm.controls['ssn'].hasError('required')">
                          Please select a Enter the SNN number
                        </mat-error>
                      </div>

                      <div class="mb-3 col-md-6" [hidden]="hrService.empInfo.roleid==1">
                        <label class="form-label" for="Role">Role</label>
                        <select formControlName="roleid" id="Role" class="select2 form-select">
                          <option [disabled]="this.depcount!=null" *ngFor="let item of this.hrService.allRole"
                            [ngValue]="item.roleid">{{item.rolename}}
                          </option>
                        </select>
                        <mat-error *ngIf="empInfoForm.controls['roleid'].hasError('required')">
                          Please select a role
                        </mat-error>
                      </div>
                      <div class="mb-3 col-md-6" [hidden]="hrService.empInfo.roleid==1">
                        <label for="language" class="form-label">Department</label>
                        <select id="language" formControlName="departmentid" class="select2 form-select">
                          <option value="">No Department</option>
                          <option *ngFor="let item of this.hrService.allDep" [ngValue]="item.departmentid">
                            {{item.departmentname}}</option>
                        </select>
                        <mat-error *ngIf="empInfoForm.controls['departmentid'].hasError('required')">
                          Please select a department
                        </mat-error>
                      </div>

                      <div class="mb-3 col-md-6">
                        <label class="form-label">Bank Iban</label>
                        <input matInput type="number" class="form-control" formControlName="bankinfoid"
                          placeholder="231465" maxlength="6">
                        <mat-error *ngIf="empInfoForm.controls['bankinfoid'].hasError('required')">
                          Please Enter the Bank iban
                        </mat-error>
                      </div>

                    </div>
                    <div>
                      <div class="row">
                        <div class="mt-2 col-2">
                          <button type="submit" class="btn btn-primary me-2" (click)="EditEmp()"
                            [disabled]="empInfoForm.invalid">Save changes</button>
                        </div>
                        <div class="mt-2 col-8">

                        </div>
                        <div class="mt-2 col-2" *ngIf="this.hrService.empInfo.userid==this.auth.systemUserInfo.userid">
                          <button type="submit" class="btn btn-primary me-2" (click)="ChangePassword()"
                            [disabled]="empInfoForm.invalid">Change Password</button>
                        </div>
                      </div>
                    </div>

                    <div routerLink="/Hr/UpdateProfile" routerLinkActive="active" #rle="routerLinkActive"
                      [routerLinkActiveOptions]="{exact: true}">
                      <div *ngIf="!rle.isActive" class="demo-inline-spacing">
                        <button style="position: absolute; top: 0px; right:0px;" type="button"
                          onclick="history.back(-1)" routerLinkActive="active"
                          class="btn rounded-pill btn-info">Back</button>
                      </div>
                    </div>
                  </form>
                  <!-- /Account -->
                </div>
              </div>
            </div>

            <h4 class="fw-bold py-3 mb-4" [hidden]="this.hrService.empInfo.roleid==1">Attendance</h4>
            <div class="table-responsive text-nowrap" [hidden]="this.hrService.empInfo.roleid==1">

              <div class="mat-elevation-z8 m-1 wow slideInUp"
                style="visibility: visible; animation-delay: 0.3s; animation-name: slideInUp;">
                <table class="table-hover wow slideInUp  col-10"
                  style="visibility: visible; animation-delay: 0.3s; animation-name: slideInUp;" mat-table
                  [dataSource]="dataSource" *ngIf="dataSource!=null">

                  <!-- Position Column -->
                  <ng-container matColumnDef="Checkin">
                    <th mat-header-cell *matHeaderCellDef> Check in </th>
                    <td mat-cell *matCellDef="let element"> {{element.checkin}} </td>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="Checkout">
                    <th mat-header-cell *matHeaderCellDef> Check out </th>
                    <td mat-cell *matCellDef="let element"> {{element.checkout}} </td>
                  </ng-container>

                  <!-- Weight Column -->
                  <ng-container matColumnDef="Workinghour">
                    <th mat-header-cell *matHeaderCellDef> Working hour </th>
                    <td mat-cell *matCellDef="let element"> {{element.workinghour}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                  aria-label="Select page of periodic elements">
                </mat-paginator>
              </div>
            </div>
            <div class="card mt-2" [hidden]="this.hrService.empInfo.roleid==1|| this.hrService.empInfo.isactivated==0">
              <h5 class="card-header">Deactiva Account</h5>
              <div class="card-body">
                <div class="mb-3 col-12 mb-0">
                  <div class="alert alert-warning">
                    <h6 class="alert-heading fw-bold mb-1">Are you sure you want to deactivate the account?</h6>
                    <p class="mb-0">Once you delete the account, there is no going back. Please be certain.</p>
                  </div>
                </div>
                <form id="formAccountDeactivation" onsubmit="return false">
                  <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" name="accountActivation"
                      onchange="document.getElementById('deactivateBtn').disabled = !this.checked;"
                      id="accountActivation">
                    <label class="form-check-label" for="accountActivation">I confirm of account deactivation</label>
                  </div>
                  <button id="deactivateBtn" disabled class="btn btn-danger deactivate-account"
                    (click)="OpenDeleteDialog()">Deactivate Account</button>
                </form>
              </div>
            </div>
            <div class="card wow fadeInUp" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;"
              [hidden]="this.hrService.empInfo.roleid==1|| this.hrService.empInfo.isactivated==1">
              <div class="row mt-2 ">
                <div class="col-2 m-2">
                  <button type="submit" class="btn btn-primary card wow fadeInUp mb-2"
                    style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;"
                    (click)="ChangeProfileActive(1)">
                    Reactivate account
                  </button>
                </div>
                <div class="col-6">
                </div>
                <div class="col-2 m-2">
                </div>
                <div class="col-1 d-flex m-2">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #DeleteDio>
    <mat-dialog-content>

      <p>Are You Sure to deactivate this account</p>
    </mat-dialog-content>

    <mat-dialog-actions>
      <div class="demo-inline-spacing">
        <button type="button" class="btn rounded-pill btn-success" (click)="ChangeProfileActive(0)"
          mat-dialog-close>Yes</button>
        <button type="button" class="btn rounded-pill btn-danger" mat-dialog-close>No</button>

      </div>
    </mat-dialog-actions>
  </ng-template>