<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">

    <app-hr-sidebar></app-hr-sidebar>


    <div class="layout-page">

      <app-dash-header>
      </app-dash-header>

      <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
          <div class="row">
            <div class="col-md-12">
              <div class="card mb-4">
                <h5 class="card-header">Profile Details</h5>

                <!-- Account -->
                <div class="card-body">
                  <div class="d-flex align-items-start align-items-sm-center gap-4">
                    <img *ngIf="this.empInfoForm.value.imagefilename==null" name="img" _ngcontent-fnq-c20=""
                      src="/assets/Documents/UserDefaultImage.png" alt="" class="img-fluid w-100"
                      style="max-height: 350px; max-width: 350px;">
                    <img *ngIf="this.empInfoForm.value.imagefilename!=null" name="img" _ngcontent-fnq-c20=""
                      [src]="'/assets/Documents/'+this.empInfoForm.value.imagefilename" alt="" class="img-fluid w-100"
                      style="max-height: 350px; max-width: 350px;">
                    <div class="button-wrapper">
                      <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                        <span class="d-none d-sm-block">Upload new photo</span>
                        <i class="bx bx-upload d-block d-sm-none"></i>
                        <input type="file" #file id="upload" class="account-file-input" hidden=""
                          (change)="UploadPhoto(file)" accept="image/png, image/jpeg">
                      </label>
                      <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>

                    </div>
                  </div>
                </div>
                <hr class="my-0">
                <div class="card-body">
                  <form [formGroup]="empInfoForm" id="formAccountSettings">
                    <div class="row">
                      <div class="mb-3 col-md-6">
                        <label for="firstName" class="form-label">First Name</label>
                        <input matInput formControlName="fname" class="form-control" type="text">
                        <mat-error *ngIf="empInfoForm.controls['fname'].hasError('required')">Please enter a First
                          Name</mat-error>
                      </div>

                      <div class="mb-3 col-md-6">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input matInput class="form-control" type="text" name="lastName" id="lastName"
                          formControlName="lname">
                        <mat-error *ngIf="empInfoForm.controls['lname'].hasError('required')">Please enter a Last
                          Name</mat-error>
                      </div>

                      <div class="mb-3 col-md-6">
                        <label for="email" class="form-label">E-mail</label>
                        <input matInput class="form-control" type="text" id="email" name="email" formControlName="email"
                          placeholder="john.doe@example.com">
                        <mat-error *ngIf="empInfoForm.controls['email'].hasError('required')">Please enter an
                          Email</mat-error>
                        <mat-error *ngIf="empInfoForm.controls['email'].hasError('pattern')">Invalid Email
                          format</mat-error>
                      </div>

                      <div class="mb-3 col-md-6">
                        <label for="organization" class="form-label">Password</label>
                        <input matInput type="password" class="form-control" id="Password" name="Password"
                          formControlName="password">
                      </div>

                      <div class="mb-3 col-md-6">
                        <label class="form-label" for="phoneNumber">Phone Number</label>
                        <div class="input-group input-group-merge">
                          <span class="input-group-text">Jod (+962)</span>
                          <input matInput type="number" id="phoneNumber" name="phoneNumber"
                            formControlName="phonenumber" class="form-control" length="9" placeholder="788253988">
                        </div>
                      </div>

                      <div class="mb-3 col-md-6">
                        <label for="address" class="form-label">Address</label>
                        <input matInput type="text" class="form-control" id="address" formControlName="address"
                          name="address" placeholder="Address">
                      </div>

                      <div class="mb-3 col-md-6">
                        <label for="state" class="form-label">Salary</label>
                        <input matInput class="form-control" type="text" id="state" name="state"
                          formControlName="salary" placeholder="California">
                      </div>

                      <div class="mb-3 col-md-6">
                        <label class="form-label">SNN number</label>
                        <input matInput type="number" class="form-control" formControlName="ssn" placeholder="231465"
                          maxlength="6">
                        <mat-error *ngIf="empInfoForm.controls['ssn'].hasError('required')">
                          Please select a Enter the SNN number
                        </mat-error>
                      </div>

                      <div class="mb-3 col-md-6">
                        <label class="form-label" for="Role">Role</label>
                        <select formControlName="roleid" id="Role" class="select2 form-select">
                          <option *ngFor="let item of this.hrservice.allRole" [ngValue]="item.roleid">{{item.rolename}}
                          </option>
                        </select>
                        <mat-error *ngIf="empInfoForm.controls['roleid'].hasError('required')">
                          Please select a role
                        </mat-error>
                      </div>
                      <div class="mb-3 col-md-6">
                        <label for="language" *ngIf="this.hrservice.empInfo" class="form-label">Department</label>
                        <select id="language" *ngIf="this.hrservice.empInfo.roleid!=2" formControlName="departmentid"
                          class="select2 form-select">
                          <option *ngFor="let item of this.hrservice.allDep" [ngValue]="item.departmentid">
                            {{item.departmentname}}</option>
                        </select>
                        <select id="language" *ngIf="this.hrservice.empInfo.roleid==2" formControlName="departmentid"
                          class="select2 form-select">
                          <option [disabled]="true" *ngFor="let item of this.hrservice.allDep"
                            [ngValue]="item.departmentid">{{item.departmentname}}</option>
                        </select>
                        <mat-error *ngIf="empInfoForm.controls['departmentid'].hasError('required')">
                          Please select a department
                        </mat-error>
                      </div>

                      <div class="mb-3 col-md-6">
                        <label class="form-label">Bank ID</label>
                        <input matInput type="number" class="form-control" formControlName="bankinfoid"
                          placeholder="231465" maxlength="6">
                        <mat-error *ngIf="empInfoForm.controls['bankinfoid'].hasError('required')">
                          Please select a Enter the Bank id
                        </mat-error>
                      </div>

                    </div>
                    <div class="mt-2">
                      <button type="submit" class="btn btn-primary me-2" (click)="UpdateProfile()"
                        [disabled]="empInfoForm.invalid">Save changes</button>
                    </div>
                    <div  routerLink="/Hr/UpdateProfile" routerLinkActive="active" #rle="routerLinkActive" [routerLinkActiveOptions]="{exact: true}">
                    <div *ngIf="!rle.isActive" class="demo-inline-spacing"  >
                      <button style="position: absolute; top: 0px; right:0px;"  type="button" onclick="history.back(-1)"
                        routerLinkActive="active" class="btn rounded-pill btn-info">Back</button>
                    </div></div>
                  </form>
                  <!-- /Account -->
                </div>
              </div>
            </div>

            <h4 class="fw-bold py-3 mb-4"[hidden]="this.hrservice.empInfo.roleid==1">Attendance</h4>
            <div class="card">
     <div class="table-responsive text-nowrap" [hidden]="this.hrservice.empInfo.roleid==1">
         <table class="table table-hover wow slideInUp m-1"
         style="visibility: visible; animation-delay: 0.3s; animation-name: slideInUp;">
             <thead >
                 <tr style="background-color: #696cff66;">
                     <th>Check in</th>
                     <th>Check out</th>
                     <th>Working hour</th>                          
                 </tr>
             </thead>
             <tbody class="table-border-bottom-0">
                 <tr *ngFor="let emp of this.managerService.attendance">
                     <td>{{emp.checkin}}</td>
                     <td>{{emp.checkout}}</td>
                     <td>{{emp.workinghour}}</td>                       
                </tr>
             </tbody>
         </table>
     </div>
 </div>




         
          <div class="card mt-2" [hidden]="this.hrservice.empInfo.roleid==1">
            <h5 class="card-header">Delete Account</h5>
            <div class="card-body">
              <div class="mb-3 col-12 mb-0">
                <div class="alert alert-warning">
                  <h6 class="alert-heading fw-bold mb-1">Are you sure you want to delete the account?</h6>
                  <p class="mb-0">Once you delete the account, there is no going back. Please be certain.</p>
                </div>
              </div>
              <form id="formAccountDeactivation" onsubmit="return false">
                <div class="form-check mb-3">
                  <input class="form-check-input" type="checkbox" name="accountActivation"
                    onchange="document.getElementById('deactivateBtn').disabled = !this.checked;"
                    id="accountActivation">
                  <label class="form-check-label" for="accountActivation">I confirm my account deactivation</label>
                </div>
                <button id="deactivateBtn" disabled class="btn btn-danger deactivate-account"
                  (click)="OpenDeleteDialog()">Deactivate Account</button>
              </form>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
</div>
</div>
<ng-template #DeleteDio>
  <mat-dialog-content>

    <p>Are You Sure to Delete this item</p>
  </mat-dialog-content>

  <mat-dialog-actions>
    <div class="demo-inline-spacing">
      <button type="button" class="btn rounded-pill btn-success" (click)="DeleteEmpProfile()"
        mat-dialog-close>Yes</button>
      <button type="button" class="btn rounded-pill btn-danger" mat-dialog-close>No</button>

    </div>
  </mat-dialog-actions>
</ng-template>