<div _ngcontent-nsa-c20="" data-wow-delay="0.1s" class="container-fluid py-5 wow fadeInUp"
    style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
    <div _ngcontent-nsa-c20="" class="container py-5">

        <div  _ngcontent-fnq-c20="" class="row g-5">
            <div *ngFor="let item of allEmp" _ngcontent-fnq-c20="" data-wow-delay="0.3s" class="col-lg-3 col-md-6 wow slideInUp"
                style="visibility: visible; animation-delay: 0.3s; animation-name: slideInUp;">

                <div  _ngcontent-fnq-c20=""
                    class="team-item bg-light rounded overflow-hidden">
                    <div _ngcontent-fnq-c20="" class="team-img position-relative overflow-hidden">
                        <img *ngIf="item.imagefilename==null" _ngcontent-fnq-c20="" src="/assets/Documents/UserDefaultImage.png" alt="" class="img-fluid w-100" width="500" height="500">
                        <img *ngIf="item.imagefilename!=null" _ngcontent-fnq-c20="" [src]="'/assets/Documents/'+item.imagefilename" alt="" class="img-fluid w-100" width="500" height="500">
                            <div _ngcontent-lvd-c20=""   class="team-social">
                                
                                <a _ngcontent-lvd-c20="" (click)="SendSelecterEmpId(item.userid)"
                                class="btn btn-lg btn-primary btn-lg-square rounded text-white mx-auto"><i _ngcontent-lvd-c20=""
                                    class="fas fa-eye fw-normal" style="position: absolute;
                                    left: 16px;
                                    right: 20px;
                                    top: 16px;
                                    bottom: 20px;" ></i></a></div>
                    </div>
                    <div _ngcontent-fnq-c20="" class="text-center py-4">
                        <h4 _ngcontent-fnq-c20="" class="text-primary">{{item.fname}} {{item.lname}}</h4>
                        <p _ngcontent-fnq-c20="" class="text-uppercase m-0">{{item.ssn}}</p>
                        <p _ngcontent-fnq-c20="" class="text-uppercase m-0">{{item.email}}</p>
                        <p _ngcontent-fnq-c20="" class="text-uppercase m-0">{{item.rolename}}</p>
                        <p _ngcontent-fnq-c20="" class="text-uppercase m-0">{{item.departmentname}}</p>                     
                      <div [ngSwitch]="item.state">
                            <div *ngSwitchCase="2">
                          <span class="badge bg-label-warning me-1">Pending</span>
                            </div>
                            <div *ngSwitchCase="1">
                                <span class="badge bg-label-success me-1">Online</span>
                            </div>
                                  <div *ngSwitchCase="0">
                                    <span class="badge bg-label-danger me-1">Offline</span>
                                </div>
                        </div>   
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

