 <!-- <div *ngIf="this.employeeService.leave.state!=2"> -->
   <!-- Layout wrapper -->

                <!-- Basic Bootstrap Table -->
                   
                    <div class="card-header d-flex justify-content-between align-items-center">
                    <!-- <div class="row mb-10">
                      <div class="col-md-6 col-xl-4"> -->
                        <div class="card mb-5">
                          <div class="card-body">
                             <h2 class="pb-1 mb-4">Leave info</h2> 
                            <h5 class="card-title">leave Type: {{this.employeeService.leave.leavetype}}</h5>
                            <p class="card-text">
                                Message : {{this.employeeService.leave.message}}
                            </p>
                            <p class="card-text">
                              <small class="text-muted">Start Date: {{this.employeeService.leave.startdate}}</small>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">End Date: {{this.employeeService.leave.enddate}}</small>
                              </p>
                              <p class="card-text">
                                <small class="text-muted">Document:</small>
                                <a *ngIf="this.employeeService.leave.documentfilename" class="card-link" target="_blank" download  [href]="'../../../assets/Documents/'+this.employeeService.leave.documentfilename">{{this.employeeService.leave.documentfilename}}</a>
                                <button style="position: absolute; top: 0px; right:0px;" mat-button mat-dialog-close   type="button" class="">X</button>
                              </p>
                          </div>
                        </div>
                     </div>

                    
                 <!--/ Basic Bootstrap Table -->
              <!-- / Content -->
              <!-- Footer -->
              <!-- / Footer -->

            <!-- Content wrapper -->

      <!-- / Layout wrapper -->
 

